:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.5em 1.8em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #be95c4;
  cursor: pointer;
  transition: border-color 0.25s;
}

.but-2{
  background-color: #f8f9fa;
  color: #be95c4;
}

.but-3{
  background-color: #c77dff;
}

.but-enter{
  background-color: #7b2cbf;
  grid-column: span 2;
}

button:hover {
  background-color: #5e548e
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
